ClinicaMedica/ClinicaMedica/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49979/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClinicaClass.usuario" />
  <xs:import schemaLocation="http://localhost:49979/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ClinicaClass.paciente" />
  <xs:import schemaLocation="http://localhost:49979/Service1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" />
  <xs:import schemaLocation="http://localhost:49979/Service1.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Servico" />
  <xs:element name="Logar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClinicaClass.usuario" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClinicaClass.usuario" minOccurs="0" name="LogarResult" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosPacientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosPacientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClinicaClass.paciente" minOccurs="0" name="ListarTodosPacientesResult" nillable="true" type="q3:ArrayOfPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosPacientesPorNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosPacientesPorNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClinicaClass.paciente" minOccurs="0" name="ListarTodosPacientesPorNomeResult" nillable="true" type="q4:ArrayOfPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClinicaClass.paciente" minOccurs="0" name="BuscarPacienteResult" nillable="true" type="q5:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="consulta" nillable="true" type="q6:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirConsultaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="consulta" nillable="true" type="q7:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarConsultaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConsulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirConsultaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConsulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="BuscarConsultaResult" nillable="true" type="q8:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="consulta" nillable="true" type="q9:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornaConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="RetornaConsultaResult" nillable="true" type="q10:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodasConsultas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodasConsultasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="ListarTodasConsultasResult" nillable="true" type="q11:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodasConsultasPorPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPaciente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodasConsultasPorPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ClinicaClass.consulta" minOccurs="0" name="ListarTodasConsultasPorPacienteResult" nillable="true" type="q12:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Servico" minOccurs="0" name="composite" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Servico" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>