ClinicaMedica/ClinicaMedica/Service References/ServiceReference1/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClinicaClass.usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClinicaClass.usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49979/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClinicaClass.nutricionista" />
  <xs:import schemaLocation="http://localhost:49979/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClinicaClass.tipoUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClinicaClass.nutricionista" minOccurs="0" name="Nutricionista" nillable="true" type="q1:Nutricionista" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClinicaClass.tipoUsuario" minOccurs="0" name="TipoUsuario" nillable="true" type="q2:TipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>